.card {
  float: left;
  height: 130px;
  width: 160px;
  padding: 27px;
  text-align: center;
  line-height: 1.5em;
  font-weight: bold;
  page-break-inside:avoid;
}
.black {
  background-color: black;
  color: white;
}
