!!! 5
%html
  %head
    %title= "Cards against Humanity"
    %meta{ :charset => 'utf-8' }
    %link{ :href => 'style.css', :rel => 'stylesheet', :media => 'all' }
  %body
    - File.read('wcards.txt').lines.each do |line| 
      .white.card= line
